__pycache__/
.mypy_cache/
.ruff_cache/
venv/
.venv/
*$py.class
*.cover
*.db
*.log
*.log.*
*.py[cod]
*.so
*.sqlite3
.coverage
coverage.*

.idea/
node_modules/
static/
.DS_Store

.git/
.github/
build/
images/
*.md
README.md
