__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.eggs/
*.egg-info/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log.*
*.log
*.sqlite3
*.db

node_modules/
static/
.DS_Store

chowist/
logs/
places/
portal/
