__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
eggs/
.eggs/
*.eggs/
*.egg-info/
lib/
lib64/
sdist/
wheels/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log.*
*.log
*.sqlite3
*.db
node_modules/
static/
venv/
.DS_Store
.idea/
.mypy_cache/
.ruff_cache/
