[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.0"
gunicorn = "==20.0.4"
"psycopg2-binary" = "==2.8.4"

[dev-packages]
"flake8" = "*"
black = {version="*", markers="python_version >= '3.6'"}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
