{% extends 'portal/base.html' %}

{% block meta %}
<title>Welcome to chowist!</title>
{% endblock %}

{% block content %}
<div class="jumbotron mt-5">
  <div class="container">
    <h1 class="display-3">Welcome to chowist.</h1>
    <p>This is an application that replicates core features of <a href="https://www.yelp.com">Yelp</a>, and adds a couple more bells and whistles to the mix.</p>
    <p><a class="btn btn-primary btn-lg" href="https://huangsam.github.io/chowist/" role="button">Learn more »</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Portal</h2>
      <p>This is the area where you can find an overview of the product and have the ability to login and logout. Other things will come out as time progresses.</p>
      <p><a class="btn btn-secondary disabled" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Ratings</h2>
      <p>Have a look at all the restaurants that are available and their associated ratings. You can view the restaurants in either an aggregate view or a detail view.</p>
      <p><a class="btn btn-secondary disabled" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Profiles</h2>
      <p>Tune your user settings to get the best experience on our platform. Some parameters include: name, email address, password and so much more.</p>
      <p><a class="btn btn-secondary disabled" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>
{% endblock %}
