{% extends 'portal/base.html' %}

{% block meta %}
<title>Welcome to chowist!</title>
{% endblock %}

{% block content %}
<h1 class="cover-heading">Welcome to chowist.</h1>
<p class="lead">This is an application that replicates core features of <a href="https://www.yelp.com">Yelp</a>, and adds a couple more bells and whistles. A couple features/ideas that are in the process of being created.</p>
<p class="lead"><a href="https://huangsam.github.io/chowist/" class="btn btn-lg btn-secondary">Learn more</a></p>
{% endblock %}
