{% extends 'simple.html' %}

{% block meta %}
<title>Chowist | Profile</title>
{% endblock %}

{% block content_title %}
<h1>Profile</h1>
{% endblock %}

{% block content_body %}
<p>Here are some details about the current user:</p>
<ul>
  <li>Username: {{ profile.user.username }}</li>
  <li>Email: {{ profile.user.email }}</li>
  <li>Bio: {{ profile.bio }}</li>
  <li>Address: {{ profile.address }}</li>
  <li>Birth: {{ profile.birth_date }}</li>
</ul>
<p>
  <a class="btn btn-primary" href="{% url 'portal:profile-update' %}" role="button">Update Profile</a>
  <a class="btn btn-secondary" href="{% url 'password_change' %}" role="button">Password Reset</a>
</p>
{% endblock %}
