{% extends 'core/base.html' %}

{% block meta %}
<title>Chowist | Profile</title>
{% endblock %}

{% block content %}
<div class="container lead-container pb-3">
  <h1>Profile</h1>
  <p>Here are some details about the current user:</p>
  <ul>
    <li>Username: {{ profile.user.username }}</li>
    <li>Email: {{ profile.user.email }}</li>
    <li>Bio: {{ profile.bio }}</li>
    <li>Address: {{ profile.address }}</li>
    <li>Birth: {{ profile.birth_date }}</li>
  </ul>
  <p><a class="btn btn-primary" href="{% url 'portal:profile-update' %}" role="button">Update</a></p>
</div>
{% endblock %}
