Enter Chat and press enter
<div id="pubnub" pub-key="demo" sub-key="demo"></div>
<script src="https://cdn.pubnub.com/pubnub.min.js"></script>
<div channel-name="notifications-channel"
segregate-notifications-by-page="false"
id="desktop-notifications-config"
></div>
<div id=pubnub pub-key="demo" sub-key="demo"></div>
<script src="http://http://cdn.pubnub.com/pubnub-3.5.4.min.js"></script>
<script
src="http://www.pubnub.com/static/html5-desktop-notification-broadcasting.js"
></script>
