<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Cisco Chef
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %script{:src => "js/modernizr.js"}
    :css
      body { background-color: #f4f8fc; }
      .row { background-color: #f4f8fc; }
  %body
    .row
      .large-12.columns
        %img{:src => "img/logo.png"}/
    .row
      .large-12.columns
        .panel
          %h2 Pick a restaurant already!
          %p The map below highlights a slew of zesty places around San Jose.
    .row
      .large-6.medium-6.columns
        .callout.panel
          %h4 To select all entries
          %p
            %strong GET
            "http://#{request.host}:#{request.port}/places"
      .large-6.medium-6.columns
        .callout.panel
          %h4 To select one entry
          %p
            %strong GET
            "http://#{request.host}:#{request.port}/places/:id"
    .row
      .large-12.columns
        %iframe{:height => "480", :src => "https://mapsengine.google.com/map/embed?mid=zuM5w0GHTmnc.k0-psWJiBtLI", :width => "100%"}
    %script{:src => "js/jquery.js"}
    %script{:src => "js/foundation.min.js"}
    :javascript
      $(document).foundation();