{% extends 'core/base.html' %}

{% block meta %}
<title>Chowist | Places</title>
{% endblock %}

{% block content %}
<div class="container lead-container pb-3">
  <h1>Places</h1>
  <p class="lead">Find the places you love.</p>
  <p>There are many restaurants in the Bay Area that you can choose from. However, We have curated the list down to 10-100 results so that you can find the restaurant that best suits your preference.</p>
  <p><a href="{% url 'places:restaurant-list' %}">Click here</a> for an aggregate view. Each restaurant should also have an associated detailed view.</p>
  <p><a href="{% url 'places:restaurant-random' %}">Click here</a> for us to pick a random restaurant and redirect you to its detailed view.</p>
</div>
{% endblock %}
