{% extends 'places/base.html' %}

{% block meta %}
<title>Welcome to places!</title>
{% endblock %}

{% block content %}
<div class="container lead-container">
  <h1>Places</h1>
  <p class="lead">Find the places you love.</p>
  <p>There are so many restaurants all over the Bay Area! However, we are currently keeping the list down to 10-100 restaurants so that you don't get overwhelmed by all the choices out there. And so that you can focus on your work.</p>
  <p><a href="{% url 'places:restaurant_list' %}">Click here</a> for an aggregate view. Each restaurant should also have an associated detailed view.</p>
</div>
{% endblock %}
