{% extends 'simple.html' %}

{% load crispy_forms_tags %}

{% block meta %}
<title>Chowist | Places</title>
{% endblock %}

{% block content_title %}
<h1>Places</h1>
{% endblock %}

{% block content_body %}
<p>There are <a href="{% url 'places:restaurant-list' %}">many restaurants</a> that you can choose from.</p>
<p>If you are still undecided, please fill out the form below:</p>
<form class="form-horizontal" action="" method="get">
{{ form|crispy }}
<button type="submit" class="btn btn-primary">Filter away</button>
<a href="{% url 'places:restaurant-random' %}" class="btn btn-secondary">Choose random</a>
</form>
{% endblock %}
