{% extends 'places/base.html' %}

{% block meta %}
<title>Chowist | {{ restaurant.name }}</title>
{% endblock %}

{% block content %}
<div class="container lead-container pb-3">
  <h1>{{ restaurant.name }}</h1>
  <p>Here are some details about the restaurant:</p>
  <ul>
    <li>Description: {{ restaurant.description }}</li>
    <li>Address: {{ restaurant.address }}</li>
    <li>Minimum Party: {{ restaurant.min_party }}</li>
    <li>Maximum Party: {{ restaurant.max_party }}</li>
  </ul>
  <p><a href="https://www.yelp.com/biz/{{ restaurant.yelp_link }}">Click here</a> to see the Yelp link.</p>
</div>
{% endblock %}
