{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block meta %}
<title>Chowist | Post Review</title>
{% endblock %}

{% block content %}
<div class="container lead-container">
  <div class="row mb-3">
    <div class="col">
      <h1>Post Review</h1>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
        <form class="form-horizontal" action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'places:restaurant-detail' restaurant.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
  </div>
</div>
{% endblock %}
