/**
 * Clean solution for sticky footer using Flexbox
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
