<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps</title>
    <link rel="stylesheet" href="css/foundation-icons.css">
    <style>
      html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
      }
      #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      }
      .size-yelp { font-size: 14px; }
      a.yelp:link {
      color: red;
      }
      a.yelp:visited {
      color: red;
      }
      a.yelp:active {
      color: red;
      }
    </style>
    <script src="js/vendor/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOIFjvlaAiWC1LBw72qVNx4S1f2GCF_lA&sensor=false"></script>
    <script>
      // Google Maps variables
      var map;
      var map_center;

      // initialize Google Maps
      function initialize() {
        var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng(37.37, -121.927768)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        map_center = map.getCenter();

        // recalibrate map upon window resize
        google.maps.event.addDomListener(window, 'resize', function() {
          map.setCenter(map_center);
        });

        // load all places
        $.ajax({
          type: 'GET',
          url: '/api/places',
          success: function(result) {
            $.each(result, function(i, place) {
              var contentString = '<div id="content">'+
                '<h2 id="firstHeading" class="firstHeading">'+place.name+'</h2>'+
                '<ul>'+
                '<li>Categories: <strong>'+place.categories.join(', ')+'</strong></li>'+
                '<li>Party size: <strong>'+place.minparty+'-'+place.maxparty+'</strong></li>'+
                '<li>Rating: <strong>'+place.rating+'</strong></li>'+
                '<li>Time: <strong>'+place.minutes+'</strong> minutes</li>'+
                '</ul>'+
                '<p>'+place.snippet_text+'<a href="http://www.yelp.com/biz/'+place.yelp+
                '" color="red" class="yelp" title="Yelp it!">'+
                '<i class="step fi-social-yelp size-yelp"></i></a>'+'</p>'+
                '</div>';
              var point = new google.maps.LatLng(place.lat,place.long);
              var marker = createMarker(point,contentString);
            });
          }
        });
      }

      var infowindow = new google.maps.InfoWindow({
        maxWidth: 285
      });

      function createMarker(latlng, html) {
        var contentString = html;
        var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title: 'Click Me!'
        });

        // update map center upon marker click
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(contentString);
          infowindow.open(map,marker);
          map_center = marker.getPosition();
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
