name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  python-build:
    name: Python
    runs-on: ubuntu-latest

    services:
      postgres:
        # Docker Hub image
        image: postgres:18
        # Provide the credentials
        env:
          POSTGRES_USER: github
          POSTGRES_PASSWORD: github
          POSTGRES_DB: github_test
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Lint with ruff
        run: uv run ruff check
      - name: Run tests and report with coverage
        run: |
          uv run coverage run manage.py test
          uv run coverage report
        env:
          DJANGO_SETTINGS_MODULE: chowist.settings.test
      - name: Migrate schema and load data with Django
        run: |
          uv run manage.py migrate
          uv run manage.py loaddemo .demo/places.json
        env:
          DJANGO_SETTINGS_MODULE: chowist.settings.test
